body {
    font-family: Arial, sans-serif;
    background-image: url('images/login_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    width: 100%;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

h1 {
    color: #b00;
}

label {
    display: block;
    margin: 10px 0 5px;
}

select, input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #b00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: calc(100% - 20px);
}

.submit-btn:hover {
    background-color: #900;
}

.forgot-password, .register-link {
    display: block;
    margin-top: 10px;
    color: #b00;
    text-decoration: none;
}

.forgot-password:hover, .register-link:hover {
    text-decoration: underline;
}
